@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

.todo:first-child {
    margin-top: 50px;
}

.todo {
    font-family: Work Sans;
    font-weight: 400;
}

.checkedButton {
    background-color: pink;
}